.fullfront {
    display: flex;
}

.imageblock {
    background-image: url(../assact/image\ 466.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;

}

.fromblock {
    width: 800px;
    height: 600px;
    background-color: #FFF;

}

.enterData {
    width: 499px;
    height: 54px;
    margin-left: 120px;
    flex-shrink: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin-left: 120px;
}

.btn {
    margin-left: 120px;
    width: 200px;
    height: 43.923px;
    border-radius: 5px;
    color: #FFF;
    background: #ED5353;
    text-align: center;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.023%;
}

.paragraf {
    margin-left: 120px;
    color: #525252;
    font-family: DM Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%;
}

.header {
    margin-left: 120px;
    color: #000;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.023%;
}