.box{
    width: 100%;
    height: 700px;
    display: flex;
    
    background-color: #FFFFFF;

}
.boxtwo {
    background-image: url(../assact/WallpaperDog-20567151\ 1.jpg);
   

}
.textes{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  font-size: 18px;
}

.texte{
    width: 300px; 
    height: 30px;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 1px solid #C2C2C2
    
   
}
.text{
    width: 300px; 
    height: 80px;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 1px solid #C2C2C2
}
.boxone{
    width: 50%;
    height: 700px;
   
}
.boxtwo{
    width: 50%;
    height: 700px;
}
.btn {
    
    width: 100px;
    height: 23.923px;
    border-radius: 5px;
    color: #FFF;
    background: #ED5353;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    margin: 5px;
   
}
.editbtn{
    width: 100px;
    height: 23.923px;
    border-radius: 5px;
    color: #ED5353;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    margin: 5px;
    border: 1px solid #ED5353;
    background-color: #FFF;
}